MONGO_DB_HOST=db
MONGO_DB_NAME=test
MONGO_DB_USERNAME=root
MONGO_DB_PASSWORD=rootpassword
OAUTH_CLIENT_ID=xxxxxxxxxxxxxxxxxxxx
OAUTH_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
OAUTH_CALLBACK_URL=https://google.com